functions-framework~=3.8.0
google-cloud-aiplatform[agent_engines]~=1.120.0
google-cloud-secret-manager~=2.22.0
google-api-python-client~=2.160.0
google-auth~=2.38.0
google-cloud-bigquery~=3.30.0
google-cloud-tasks~=2.16.0
